#top{
    width: 800px;
    background-color: lightsteelblue;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.top-child{
    display: inline-block;
    width: 20%;
    background-color: gainsboro;
}

#middle{
    position: relative;
    width: 800px;
    height: 800px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

#middle-child01{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
    background-color: lightsteelblue;
}

#middle-child02{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 300px;
    left: 300px;
    background-color: steelblue;
}

#middle-child03{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 500px;
    left: 500px;
    background-color: lightsteelblue;
}

#bottom{
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightsteelblue ;
}

#bottom-child01{
    width: 400px;
    height: 100px;
    background-color: whitesmoke;
}

#bottom-child02{
    position: relative;
    width: 400px;
    height: 100px;
    left: 200px;
    background-color: whitesmoke;
}

#bottom-child03{
    position: relative;
    width: 400px;
    height: 100px;
    left: 400px;
    background-color: whitesmoke;
}